html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-btn {
  color: white;
  border: 0;
  background: #0084ff;
  padding: 8px 16px;
  border-radius: 16px;
  font-weight: bold;
  margin: 0 0 0 16px;
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 200px;
  /* min-width: 200px; */
  background: greenyellow;
  border-radius: 8px;
  flex: 0 0 202px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media (max-width: 700px) {
  .box {
    min-width: 400px !important;
  }

  #box2,
  #box5 {
    display: none;
  }
}

.tabs-container {
  display: flex;
  padding: 24px;
}

.tabs-block {
  margin-right: 64px;
}

.tab {
  padding: 1rem;
  margin: 1rem;
  background: #f7f7f7;
  min-width: 12rem;
  text-align: center;
  cursor: pointer;
  min-height: 6rem;
  position: relative;
}

.tab.selected {
  background: #0084ff;
  color: white;
  font-weight: bold;
}

.tabs-content {
  flex: 100%;
  text-align: center;
  align-self: center;
}

.clear-btn {
  cursor: pointer;
  color: #0084ff;
  text-decoration: underline;
}

.notes-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.notes-block {
  margin: 24px;
  padding: 8px 24px;
  background: #f7f7f7;
  border-radius: 8px;
}

.presence-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.presence-container .s-presence-avatar {
  width: 1rem !important;
  height: 1rem !important;
  font-size: 0.7rem;
}

.menu {
  margin: 0 12px;
  cursor: pointer;
}

.menu.selected {
  color: #0084ff;
  font-weight: bold;
}